.videoSidebar {
    position: absolute;
    top: 35%;
    right: 10px;
    color: white; 
}

.videoSidebar__options {
    padding: 15px;
    text-align: center;
}

.imgProfile {
    height: 60px;
    border-radius: 50%;
    border: 2px solid white;

}

@media only screen and (max-width: 768px) {
    .videoSidebar {
        top: 35%;
    }
}